*{margin: 0; padding: 0;}


body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* header */

#header {
    border-bottom: 1px solid #f4f4f4;
}

form.form-inline {
    display: flex;
}

i.fa.fa-search {
    font-size: 24px;
    color: white;
    border: 1px solid #C21B17;
    padding: 4px;
    background: #C21B17;
    margin-left: -10px;
    cursor: pointer;
}

input.form-control {
    padding-right: 108px;
    border: 2px solid #C21B17;
    height: 34px;
    font-size: 13px;
}

a.logo > img.img-responsive {
    width: 100%;
}


i.fa.fa-shopping-cart {
    margin-left: 30px;
}



li img {
    width: 20%;
    margin-bottom: 3px;
}

ul.dropdown-menu.dropdown-menu-right {
    font-size: 13px;
    margin-top: 4px;
}

nav.navbar.navbar-expand-lg.topbar-menu {
    background: #C21B17;
    height: 45px;
    margin-top: -12px;
}

img.avatar {
    width: 16%;
    margin-top: 4px;
    margin-left: 68px;
}

.dropdown.dropdown-language-panel {
    width: 77px;
}

i.fa.fa-globe {
    color: white;
    opacity: 0.9;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

span {
    color: white;
    opacity: 0.9;
    font-size: 13px;
    margin: 10px 1px 0 0;
}

button.dropdown-toggle {
    width: 58%;
    background: #C21B17;
    border: none;
    color: white;
    margin-top: 7px;
    cursor: pointer;
}

row i  span {
    color: white;
    opacity: 0.9;
}

img.img-responsive {
    width: 55%;
    cursor: pointer;
}

.navbar-left a, .navbar-right a {
    color: white;
    font-size: 13px;
    opacity: 0.9;
    margin: 10px 10px 0 0;
} 

.navbar-left a:hover,.navbar-right a:hover {
    color: white;
    
} 

strong{
    cursor: pointer;
}


.navbar-nav li{
    margin-left: 90px;
    list-style-type: none;
    margin-top: -12px;
    
}

.navbar-nav li .nav-link{
    color: #C21B17;
    font-size: 14px;
}

.navbar-nav li .nav-link:hover{
    text-decoration: underline;
}

.dropdown-menu > .dropdown-item{
    color: #333;
}

/* signed-in-form */

.signed-in-form {
    width: 315px;
    height: 318px;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid #f4f4f4;
    margin-top: 32px;
    margin-right: 325px;
    background-color: #fff;
    z-index: 1;
    border-radius: 4px;
    box-sizing: border-box;
}

.dropdown-content {
    position: absolute;
    display: none;
}

.dropdown-content .signed-in-form {
    display: block;
}

.user-singed-in.dropdown {
    position: relative;
    display: inline-block;
}

.user-singed-in.dropdown:hover + .dropdown-content {
    display: block;
    transition: linear 0.6s;
}


.avatar {
    cursor: pointer;
}


.col-sm-8.user-name {
    line-height: 6px;
    margin: auto;
}

.private-info li.list-group-item i {
    margin-right: 10px;
    margin-left: -10px;
}

.avatar-user {
    padding: 20px 0;
    background: url(../khoa-hoc/images/bg-profile-dropdown.png);
    color: #fff;
}

.avatar img {
    width: 80px;
}


a.nav-link.kich-hoat {
    border: 1px solid #C21B17;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px 0;
}

a.nav-link.kich-hoat:hover {
    background: #C21B17;
    border: 1px solid #C21B17;
    color: #fff;
    transition: 0.4s;
    text-decoration: none;
}

.col-lg-4.khoa-hoc {
    padding-right: 0;
}



/* breadcrumb */

#breadcumb {border-bottom: 1px solid #f4f4f4;height: 45px;}

.breadcrumb {
    background: white;
    height: 44px;
}

ol.breadcrumb li {margin-right: -6px;}

li.breadcrumb-item a {
    color: #000;
}

li.breadcrumb-item a:hover {
    color: #C21B17;
}

li.breadcrumb-item.active a {
    font-size: 13px;
    color: #C21B17;
    margin-top: 4px;
}


/* main-content */

#content {
    background: #fafafa;
    padding-bottom: 60px;
}

li.list-group-item a {
    color: #333;
    font-size: 14px;
}

li.list-group-item a:hover {
    text-decoration: none;
}

li.list-group-item:hover {
    background: #E4E6E9;
}

li.list-group-item.active {
    background: #f4f4f4;
    border: none;
    opacity: 0.4;
}

li.list-group-item.active a {
    color: #333;
    font-size: 14px;
}

li.list-group-item.active a:hover {
    text-decoration: none;
    background: none;
}

li.list-group-item.active:hover {
    background: #E4E6E9;
}

a.btn.btn-primary {
    background: none;
    border: none;
    color: #333;
    font-size: 14px;
    margin-left: -20px;
}

a.btn.btn-primary i {
    color: #333;
}

.row-1,.row-2,.row-3,.row-4,.row-5 {
    margin-left: -22px;
}

.col-lg-12.row-1 {margin-top: 25px;}


.arrange {
    width: 200px;
    margin-top: 7px;
}

#filter {
    background: #fafafa;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
}



.col-lg-3 {
    margin-top: 10px;
}

.col-lg-3 input {
    margin-top: 11px;
}

.loc-kq {
    background: #333;
    color: #fff;
    border-radius: 20px;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.loc-kq a i {
    margin-right: 4px;
    margin-left: 10px;
    color: #fff;
}

#overlay{
    position: relative;
    width: 100%;
}


.btn-group {
    transition: 0.5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 58px;
    margin-left: 25px;
}

#overlay:hover .card-img-top{
    opacity: 0.3;
}

#overlay:hover .btn-group{
    opacity: 1;
}

.btn-group a .btn-outline {
    padding: 4px;
    background: none;
    color: #fff;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 2px;
}

.btn-group a .btn-warning {
    padding: 7px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.main-content > strong {
    color: #C21B17;
    font-size: 14px;
}

.main-content > strong > span {
    color: #333;
}

.col-lg-9.main-content {
    margin-top: 20px;
}

p.card-text {
    font-size: 14px;
    margin-left: 8px;
    overflow: hidden;
    cursor: pointer;
}

h5.card-title {
    margin-top: 10px;
    font-size: 14px;
    margin-left: 8px;
    font-weight: bold;
    color: #C21B17;
    cursor: pointer;
}



img.card-img-top {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5 ease;
    backface-visibility: hidden;
}

/* pagination */

nav.pagination {
    float: right;
}

nav.pagination {
    margin-top: -20px;
    margin-right: 130px;
}



/* footer */

#footer {
    background: #242A37;
    padding-top: 24px;
    color: #fff;
}

ul.sub-navbar {
    list-style-type: none;
    font-size: 14px;
    
}

.sub-navbar li{
    line-height: 25px;
}

.sub-navbar  a{
    color: #fff;
    
}

.social {
    padding-top: 50px;
    padding-bottom: 35px;
}

.social > a > i.fa.fa-facebook {
    background: #3A5998;
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 50%;
}

.info  i {
    color: #FED447;
    font-size: 35px;
    margin-right: 20px;
}

.info {
    font-size: 14px;
    line-height: 24px;
}
