*{margin: 0; padding: 0;}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* header */

#header {
    border-bottom: 1px solid #f4f4f4;
}

form.form-inline {
    display: flex;
}

i.fa.fa-search {
    font-size: 24px;
    color: white;
    border: 1px solid #C21B17;
    padding: 4px;
    background: #C21B17;
    margin-left: -10px;
    cursor: pointer;
}

input.form-control {
    padding-right: 108px;
    border: 2px solid #C21B17;
    height: 34px;
    font-size: 13px;
}

a.logo > img.img-responsive {
    width: 100%;
}

i.fa.fa-user {
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
    color: #C21B17;
    background: white;
}

i.fa.fa-shopping-cart {
    margin-left: 30px;
}



li img {
    width: 20%;
    margin-bottom: 3px;
}

ul.dropdown-menu.dropdown-menu-right {
    font-size: 13px;
    margin-top: 4px;
}

nav.navbar.navbar-expand-lg.topbar-menu {
    background: #C21B17;
    height: 45px;
    margin-top: -12px;
}

.user-singin, .user-signup {
    margin-top: 8px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.dropdown.dropdown-language-panel {
    width: 77px;
}

i.fa.fa-globe {
    color: white;
    opacity: 0.9;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

span {
    color: white;
    opacity: 0.9;
    font-size: 13px;
    margin: 10px 1px 0 0;
}

button.dropdown-toggle {
    width: 58%;
    background: #C21B17;
    border: none;
    color: white;
    margin-top: 7px;
    cursor: pointer;
}

row i  span {
    color: white;
    opacity: 0.9;
}

img.img-responsive {
    width: 55%;
    cursor: pointer;
}

.navbar-left a, .navbar-right a {
    color: white;
    font-size: 13px;
    opacity: 0.9;
    margin: 10px 10px 0 0;
} 
a i {
    margin-right: 4px;
    margin-left: 10px;
} 
.navbar-left a:hover,.navbar-right a:hover {
    color: white;
    
} 

strong{
    cursor: pointer;
}


.navbar-nav li{
    margin-left: 90px;
    list-style-type: none;
    margin-top: -12px;
    
}

.navbar-nav li .nav-link{
    color: #C21B17;
    font-size: 14px;
}

.navbar-nav li .nav-link:hover{
    text-decoration: underline;
}

.dropdown-menu > .dropdown-item{
    color: #333;
}

/* signin-form */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    display: none;
    animation: fadeDown linear 0.4s;
}

.form-close{
    font-size: 14px;
    color: #666;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    
}

.signin-form {
    background: #fff;
    z-index: 9;
    position: fixed;
    top: 7%;
    left: 28%;
    width: 603px;
    border: 1px solid #333;
    padding: 40px;
    border-radius: 10px;
    transform: translateY(-150%);
    transition: 0.6s;
}

.signin-form-input:checked ~ .overlay{
    display: block;
}

.signin-form-input:checked ~ .signin-form{
    transform: translateY(0%);
    transition: 0.6s;
}

@keyframes fadeDown{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


a.nav-link.kich-hoat {
    border: 1px solid #C21B17;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px 0;
}

a.nav-link.kich-hoat:hover {
    background: #C21B17;
    border: 1px solid #C21B17;
    color: #fff;
    transition: 0.4s;
    text-decoration: none;
}

.col-lg-4.khoa-hoc {
    padding-right: 0;
}

/* slide-show */



/* main-content */
.container.br{
    padding: 0;
}

.breadcrumb{
    background: none;
    padding: 0;
}

h3 a{
    color: chocolate;
}

h3 a:hover{
    color: chocolate;
    text-decoration: underline;
}

#main-content span{
    color: #666;
}

.part{
    color: #416A93;
    font-size: 16px;
}

.part:hover{
    text-decoration: none;
    color: #416A93;
}




#footer-fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #F88900;
    color: #fff;
    padding: 0 15px;
    display: block;
}

#footer-fixed i.fa.fa-chevron-up{
    margin-left: 5px;
    font-size: 10px;
    cursor: pointer;
}

iframe{
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.fa.fa-times{
    position: fixed;
    bottom: 310px;
    right: 10px;
    font-size: 14px;
    color: #fff;
    background: #4C628C;
    padding: 3px;
    cursor: pointer;
}

.social{
    display: none;
}



/* footer */

#footer {
    background: #242A37;
    padding-top: 24px;
    color: #fff;
}

ul.sub-navbar {
    list-style-type: none;
    font-size: 14px;
    
}

.sub-navbar li{
    line-height: 25px;
}

.sub-navbar  a{
    color: #fff;
    
}

.social {
    padding-top: 50px;
    padding-bottom: 35px;
}

.social > a > i.fa.fa-facebook {
    background: #3A5998;
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 50%;
}

.info  i {
    color: #FED447;
    font-size: 35px;
    margin-right: 20px;
}

.info {
    font-size: 14px;
    line-height: 24px;
}
